body {
    font-family: Arial, sans-serif;
    padding: 0;
}

.tainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    padding-top: 110px; 
}

.container3 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.message {
    color: green;
    text-align: center;
}

.error {
    color: red;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form p {
    margin-bottom: 15px;
}

.customer-info {
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.customer-info p {
    margin-left: 10px;
    margin-right: 50px;
    font-size: 16px;
    color: #333;
    display: flex;
    justify-content: space-between;
}

.customer-info .label {
    font-weight: bold;
    width: 120px; 
    margin-right: 10px; 
    text-align: right; 
}

.johou,
form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.kakutei-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #ffa600;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
}

.kakutei-button:hover {
    background-color: #cb8607;
}

.home-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

.home-button:hover {
    background-color: #0056b3;
}

p {
    text-align: left;
}
