* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

.container {
    flex-shrink: 0; /* ヘッダーは縮小しない */
    width: 100%;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #2A3B76;
    color: #ffffff;
    position: fixed; /* 固定位置 */
    top: 0;
    left: 0;
    z-index: 1000; /* 他の要素より前面に表示 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 影を追加 */
    height: 70px;
}

.site-title {
    font-size: 24px;
    color: #E6FA00;
    font-weight: bold;
    background-color: #2A3B76;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.search-bar {
    width: 600px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-button {
    padding: 10px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-btn {
    padding: 10px 20px;
    background-color: #2A3B76;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px; /* 検索バーとカートボタンの間にスペースを追加 */
    transition: background-color 0.3s ease;
}

.cart-btn {
    padding: 10px 20px;
    background-color: #2A3B76;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 35px;
    transition: background-color 0.3s ease;
}

.akaunt-btn{
    padding: 8px 10px;
    background-color: #2A3B76;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 40px;
    margin-left: 20px; /* 検索バーとカートボタンの間にスペースを追加 */
    transition: background-color 0.3s ease;
}


